In [10]:
!pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\ahmed\anaconda3\lib\site-packages (2.0.0)
Requirement already satisfied: wrapt>=1.11.1 in c:\users\ahmed\anaconda3\lib\site-packages (from tensorflow) (1.11.2)
Requirement already satisfied: gast==0.2.2 in c:\users\ahmed\anaconda3\lib\site-packages (from tensorflow) (0.2.2)
Requirement already satisfied: protobuf>=3.6.1 in c:\users\ahmed\anaconda3\lib\site-packages (from tensorflow) (3.13.0)
Requirement already satisfied: grpcio>=1.8.6 in c:\users\ahmed\anaconda3\lib\site-packages (from tensorflow) (1.32.0)
Requirement already satisfied: keras-applications>=1.0.8 in c:\users\ahmed\anaconda3\lib\site-packages (from tensorflow) (1.0.8)
Requirement already satisfied: google-pasta>=0.1.6 in c:\users\ahmed\anaconda3\lib\site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: numpy<2.0,>=1.16.0 in c:\users\ahmed\anaconda3\lib\site-packages (from tensorflow) (1.18.1)
Requirement already satisfied: astor>=0.6.0 in c:\users\ahmed\anaconda3\lib\site-packages (from tensorflow) (0.8.1)
Requirement already satisfied: tensorboard<2.1.0,>=2.0.0 in c:\users\ahmed\anaconda3\lib\site-packages (from tensorflow) (2.0.2)
Requirement already satisfied: tensorflow-estimator<2.1.0,>=2.0.0 in c:\users\ahmed\anaconda3\lib\site-packages (from tensorflow) (2.0.1)
Requirement already satisfied: absl-py>=0.7.0 in c:\users\ahmed\anaconda3\lib\site-packages (from tensorflow) (0.10.0)
Requirement already satisfied: keras-preprocessing>=1.0.5 in c:\users\ahmed\anaconda3\lib\site-packages (from tensorflow) (1.1.2)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\ahmed\anaconda3\lib\site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: six>=1.10.0 in c:\users\ahmed\anaconda3\lib\site-packages (from tensorflow) (1.14.0)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\ahmed\anaconda3\lib\site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: wheel>=0.26 in c:\users\ahmed\anaconda3\lib\site-packages (from tensorflow) (0.34.2)
Requirement already satisfied: setuptools in c:\users\ahmed\anaconda3\lib\site-packages (from protobuf>=3.6.1->tensorflow) (45.2.0.post20200210)
Requirement already satisfied: h5py in c:\users\ahmed\anaconda3\lib\site-packages (from keras-applications>=1.0.8->tensorflow) (2.10.0)
Requirement already satisfied: werkzeug>=0.11.15 in c:\users\ahmed\anaconda3\lib\site-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow) (1.0.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\ahmed\anaconda3\lib\site-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow) (0.4.1)
Requirement already satisfied: google-auth<2,>=1.6.3 in c:\users\ahmed\anaconda3\lib\site-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow) (1.22.1)
Requirement already satisfied: markdown>=2.6.8 in c:\users\ahmed\anaconda3\lib\site-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow) (3.3.1)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\ahmed\anaconda3\lib\site-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow) (2.22.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\ahmed\anaconda3\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow) (1.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\ahmed\anaconda3\lib\site-packages (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.5" in c:\users\ahmed\anaconda3\lib\site-packages (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow) (4.6)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\ahmed\anaconda3\lib\site-packages (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow) (4.1.1)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in c:\users\ahmed\anaconda3\lib\site-packages (from markdown>=2.6.8->tensorboard<2.1.0,>=2.0.0->tensorflow) (1.5.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\ahmed\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ahmed\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\ahmed\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\ahmed\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow) (2.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\ahmed\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow) (3.1.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\ahmed\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow) (0.4.8)
Requirement already satisfied: zipp>=0.5 in c:\users\ahmed\anaconda3\lib\site-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<2.1.0,>=2.0.0->tensorflow) (2.2.0)

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, f1_score, precision_recall_curve, auc
import matplotlib.pyplot as plt

import tensorflow as tf

from tensorflow.keras import optimizers
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, BatchNormalization

In [18]:
data = pd.read_csv("bank.csv")

In [19]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [20]:
data = data.drop("RowNumber", axis = 1)
data = data.drop("CustomerId", axis = 1)
data = data.drop("Surname", axis = 1)

In [21]:
X_data = data["Exited"]
y_data = data.drop("Exited", axis = 1)

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size = 0.3, random_state = 7)

In [25]:
from sklearn import preprocessing

In [14]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()

In [32]:
y_data[['CreditScore','Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary']] = min_max_scaler.fit_transform(y_data[['CreditScore','Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary']])

In [31]:
y_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,0.538,France,Female,0.324324,0.2,0.000000,0.000000,1.0,1.0,0.506735
1,0.516,Spain,Female,0.310811,0.1,0.334031,0.000000,0.0,1.0,0.562709
2,0.304,France,Female,0.324324,0.8,0.636357,0.666667,1.0,0.0,0.569654
3,0.698,France,Female,0.283784,0.1,0.000000,0.333333,0.0,0.0,0.469120
4,1.000,Spain,Female,0.337838,0.2,0.500246,0.000000,1.0,1.0,0.395400
...,...,...,...,...,...,...,...,...,...,...
9995,0.842,France,Male,0.283784,0.5,0.000000,0.333333,1.0,0.0,0.481341
9996,0.332,France,Male,0.229730,1.0,0.228657,0.000000,1.0,1.0,0.508490
9997,0.718,France,Female,0.243243,0.7,0.000000,0.000000,0.0,1.0,0.210390
9998,0.844,Germany,Male,0.324324,0.3,0.299226,0.333333,1.0,0.0,0.464429
9999,0.884,France,Female,0.135135,0.4,0.518708,0.000000,1.0,0.0,0.190914

In [34]:
model = Sequential()

NameError: name 'Sequential' is not defined

In [35]:
model.add(Dense(64, input_shape = (29,), activation = 'relu'))
model.add(Dense(32, activation = 'tanh'))
model.add(Dense(1, activation = 'sigmoid'))

NameError: name 'model' is not defined

In [36]:
sgd = optimizers.Adam(lr = 0.001)

NameError: name 'optimizers' is not defined

In [37]:
model.compile(optimizer = sgd, loss = 'binary_crossentropy', metrics=['accuracy'])

NameError: name 'model' is not defined

In [38]:
model.fit(X_train, y_train.values, batch_size = 50, epochs = 5, verbose = 1)

NameError: name 'model' is not defined

In [39]:
Y_pred_cls = model.predict_classes(X_test, batch_size=200, verbose=0)
print('Accuracy Model1 (Dropout): '+ str(model.evaluate(X_test,y_test.values)[1]))
print('Recall_score: ' + str(recall_score(y_test.values,Y_pred_cls)))
print('Precision_score: ' + str(precision_score(y_test.values, Y_pred_cls)))
print('F-score: ' + str(f1_score(y_test.values,Y_pred_cls)))
confusion_matrix(y_test.values, Y_pred_cls)

NameError: name 'model' is not defined